services:
  redpanda-0:
    profiles:
      - dependencies
      - all
    image: docker.redpanda.com/redpandadata/redpanda:v24.3.7
    command:
      - redpanda
      - start
      - --kafka-addr internal://0.0.0.0:9092,external://0.0.0.0:19092
      - --advertise-kafka-addr internal://redpanda-0:9092,external://localhost:19092
      - --pandaproxy-addr internal://0.0.0.0:8082,external://0.0.0.0:18082
      - --advertise-pandaproxy-addr internal://redpanda-0:8082,external://localhost:18082
      - --schema-registry-addr internal://0.0.0.0:8081,external://0.0.0.0:18081
      - --rpc-addr redpanda-0:33145
      - --advertise-rpc-addr redpanda-0:33145
      - --mode dev-container
      - --smp 1
      - --default-log-level=info

  console:
    profiles:
      - dependencies
      - all
    image: docker.redpanda.com/redpandadata/console:v2.8.4
    entrypoint: /bin/sh
    command: -c 'echo "$$CONSOLE_CONFIG_FILE" > /tmp/config.yml; /app/console'
    environment:
      CONFIG_FILEPATH: /tmp/config.yml
      CONSOLE_CONFIG_FILE: |
        kafka:
          brokers: ["redpanda-0:9092"]
    ports:
      - 8080:8080
    depends_on:
      - redpanda-0

  prometheus:
    profiles:
      - dependencies
      - all
    image: prom/prometheus:latest
    ports:
      - 9090:9090
    volumes:
      - ./docker/prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - kafka-synth-client

  kafka-synth-client:
    profiles:
      - all
    image: spoud/kafka-synth-client:latest
    build:
      context: .
      dockerfile: src/main/docker/Dockerfile.jvm
    ports:
      - 8081:8081
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=redpanda-0:9092
      - SYNTH_CLIENT_TOPIC=kafka-synth-client-test
      - SYNTH_CLIENT_CONSUMER_TOPIC_REGEX=.*synth-client.*
      - SYNTH_CLIENT_RACK=rack1
    depends_on:
      - redpanda-0
